{% extends 'base.html' %}

{% block title%}About{% endblock %}

{% block main %}

<div class="container">

  <div class="row">
    <div class="mt-5 col">
      <h1>Welcome on Customer's Task System</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non assumenda cum eveniet tenetur totam, 
        quae officia iste aperiam modi tempora corrupti facilis nostrum labore hic ipsa quo debitis. Nam, distinctio.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, minima esse? Necessitatibus adipisci accusamus aspernatur quod repudiandae,
       quaerat vel nisi sit quisquam hic excepturi perspiciatis soluta inventore fugit cum quidem.</p>
    </div>
  </div>
</div>

{% endblock %}