{% extends 'base.html' %}

{% block title %}Customers Task System - TODO{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="mt-2 col">
      {% for key in username.keys()%}
      <h1>Hello {{ key}}</h1>
      {% endfor %}
      <hr>
    </div>
  </div>
</div>
<div class="container">

  <form action="/add" method="post">

    <div class="mb-2">
      <label for="todo-title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" id="todo-title" name="title" placeholder="Type TODO title here...">
    </div>

    <div class="mb-2">
      <label for="task-description" class="form-label">Description</label>
      <textarea class="form-control" name="description" id="task-description" rows="3"
        placeholder="Wite task description here..."></textarea>
    </div>
    <div class="mb-2">
      <label for="due-date" class="form-label">Due Date</label>
      <input type="date" class="form-control" id="due-date" name="date" required>
    </div>

    <div class="container">
      <div class="mb-2">
        <div class="row">
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="service-radio" value="Serwis">
              <label class="form-check-label" for="service-radio">Serwis</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="offer-radio" value="Oferta">
              <label class="form-check-label" for="offer-radio">Oferta</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="calculation" value="Kalkulacja">
              <label class="form-check-label" for="calculation">Kalkulacja</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Umowa">
              <label class="form-check-label" for="agreement-id">Umowa</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Płatności">
              <label class="form-check-label" for="agreement-id">Płatności</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Akwizycja">
              <label class="form-check-label" for="agreement-id">Akwizycja</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Wizyta">
              <label class="form-check-label" for="agreement-id">Wizyta</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Dokumenty">
              <label class="form-check-label" for="agreement-id">Dokumenty</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="agreement-id" value="Kontakt">
              <label class="form-check-label" for="agreement-id">Kontakt</label>
            </div>
          </div>

        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Add TODO</button>
    <hr>
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-1">

          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownmenu">
              <h6 class="dropdown-header">Choose element</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/todo/id">id</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/todo/category">category</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/todo/date">date</a>
            </div>
          </div>

        </div>

        <div class="col-1">

          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Filter by category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownmenu">
              <h6 class="dropdown-header">Choose element</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Serwis'}}">Serwis</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Oferta'}}">Oferta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Kalkulacja'}}">Kalkulacja</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Umowa'}}">Umowa</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Płatności'}}">Płatności</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Akwizycja'}}">Akwizycja</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Wizyta'}}">Wizyta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Dokumenty'}}">Dokumenty</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/filter/{{'Kontakt'}}">Kontakt</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          {% for todo in todo_list %}
          <div class="container p-5 my-5 border">
            <div class="row">
              <div class="col">
                <p>{{todo.id}} | {{todo.title}} |
                  <span class="badge badge-info">{{todo.category}}</span> |

                  {% if todo.complete == False %}
                  <span class="badge badge-secondary">Not Complete</span>
                  {% else %}
                  <span class="badge badge-success">Completed</span>
                  {% endif %} |

                  {% if todo.date >= today_date%}
                  <span>{{todo.date}}</span>
                  {% else %}
                  <span class="text-danger">{{todo.date}}</span>
                  {% endif %}
                </p>
                <hr>
                <p>{{todo.description}}</p>

                <a class="btn btn-primary" href="/update/{{todo.id}}">Update</a>
                <a class="btn btn-danger" href="/delete/{{todo.id}}">Delete</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>



  </form>
</div>

{% endblock %}