{% extends 'base.html' %}

{% block title%}Customer's Task System - Home{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="mt-5 col">
      {% for key in username.keys()%}
      <h1>Hello {{ key}}</h1>
      {% endfor %}
      <hr>
      <p> Content wil be visible here soon... </p>
    </div>
  </div>
</div>
<div class="container">
  <form>
    <div class="mb-2">
      <label for="todo-title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" id="todo-title" name="title" placeholder="Type TODO title here...">
    </div>
    <div class="mb-2">
      <label for="task-description" class="form-label">Description</label>
      <input type="text" class="form-control" id="task-description">
    </div>

    <div class="container">
      <div class="row">
        
        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">Serwis</label>
          </div>
        </div>

        <div class="col-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">Oferta</label>
          </div>
        </div>
      
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add TODO</button>
  </form>
</div>

{% endblock %}